# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
.vercel/
.turbo/
out/
*.tsbuildinfo

# imza / sertifika — ASLA commit'lenmez
*.keystore
*.jks
*.p8
*.p12
*.pem
*.key
*.mobileprovision

# cloudflare / wrangler
.wrangler/
.dev.vars
.dev.vars.*

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# expo
.expo/
